/**
	
	Fonts
	=====
	
	1.0 - Font Face
	2.0 - Typekit Fonts
	3.0 - Icon Font
		3.1 - Icon Font Family
		3.2 - Icon Font Variables

**/



/*--------------------------------------------------------------
1.0 - Font Face
--------------------------------------------------------------*/

/**
	
	Using Compass for Font Face
	
	$name is required, arbitrary, and what you will use in font stacks.
	$font-files is required using font-files('relative/location', 'format'). for best results use this order: woff, opentype/truetype, svg
	$eot is required by IE, and is a relative location of the eot file.
	$weight shows if the font is bold, defaults to normal
	$style defaults to normal, might be also italic
	For android 2.2 Compatiblity, please ensure that your web page has a meta viewport tag.
	To support iOS < 4.2, an SVG file must be provided
	
	@include font-face($name, $font-files, $eot, $weight, $style);
	
	@include font-face( $font-family, font-files($font-filename + '.woff', $font-filename + '.ttf', $font-filename + '.svg'), $font-filename + '.eot', normal, normal);

**/



/*--------------------------------------------------------------
2.0 - Typekit Fonts
--------------------------------------------------------------*/

/**
	
	Including the Typekit Font will include the fonts to the site.
	
	You can make variables to call with the 'font-style' plugin.
	
	
	Variable Examples:
	
	light:			$font-proxima-nova-light: 'proxima-nova-n3', 'proxima-nova';
	regular:		$font-proxima-nova-regular: 'proxima-nova-n4', 'proxima-nova';
	bold:			$font-proxima-nova-bold: 'proxima-nova-n7', 'proxima-nova';
	extrabold:		$font-proxima-nova-extrabold: 'proxima-nova-n7', 'proxima-nova';
	
	
	Usage: Proxima Nova
	
	light:			@include font-style($font-proxima-nova-light, normal, 300);
	regular:		@include font-style($font-proxima-nova-regular, normal, 400);
	bold:			@include font-style($font-proxima-nova-bold, normal, 700);
	extrabold:		@include font-style($font-proxima-nova-extrabold, normal, 800);

**/



/*--------------------------------------------------------------
3.0 - Icon Font
--------------------------------------------------------------*/



/*--------------------------------------------------------------
3.1 - Icon Font Family
--------------------------------------------------------------*/

// Icon font family variables
$icon-font-family: 'starter-2015';
$icon-font-filename: 'starter-2015';

// Declare the font
@include font-face( $icon-font-family, font-files($icon-font-filename + '.woff', $icon-font-filename + '.ttf', $icon-font-filename + '.svg'), $icon-font-filename + '.eot', normal, normal);



/*--------------------------------------------------------------
3.1 - Icon Font Variables
--------------------------------------------------------------*/

// if adding new variables, update the map in sass/styleguide/_icons.scss

// navigation
$icon-cancel-circled: '\e824';
$icon-cancel-circled2: '\e823';
$icon-home: '\e800';
$icon-link-ext: '\e82a';
$icon-menu: '\e820';
$icon-search: '\e80a';

// arrows
$icon-up-open: '\e807';
$icon-down-open: '\e808';
$icon-right-open: '\e801';
$icon-left-open: '\e802';
$icon-up-open-big: '\e805';
$icon-down-open-big: '\e806';
$icon-left-open-big: '\e803';
$icon-right-open-big: '\e804';

// punctuation
$icon-quote: '\e809';

// contact
$icon-mail: '\e825';
$icon-mail-alt: '\e826';
$icon-mobile: '\e828';
$icon-phone: '\e827';

// events
$icon-calendar: '\e80b';
$icon-calendar-empty: '\e80c';
$icon-clock: '\e80d';
$icon-location: '\e80e';

// documents
$icon-doc-text: '\e811';

// social
$icon-apple: '\e81c';
$icon-default: '';
$icon-itunes: '\e81d';
$icon-doc-text: '\e811';
$icon-facebook: '\e810';
$icon-facebook-squared: '\e80f';
$icon-flickr: '\e822';
$icon-flickr-squared: '\e821';
$icon-google-plus: '\e819';
$icon-google-plus-squared: '\e818';
$icon-instagram: '\e814';
$icon-linkedin: '\e81b';
$icon-linkedin-squared: '\e81a';
$icon-pinterest-squared: '\e82c';
$icon-pinterest-circled-1: '\e82b';
$icon-rss-squared: '\e81e';
$icon-rss: '\e81f';
$icon-twitter: '\e812';
$icon-twitter-squared: '\e813';
$icon-vimeo-squared: '\e82d';
$icon-vine: '\e82e';
$icon-youtube: '\e815';
$icon-youtube-play: '\e817';
$icon-youtube-squared: '\e816';
