/**
	
	Site Footer
	===========
	
	1.0 - Sticky Footer
	2.0 - Footer Wrapper
	3.0 - Site Footer
		3.1 - Footer Columns

**/


/*--------------------------------------------------------------
1.0 - Sticky Footer
--------------------------------------------------------------*/

html, body {
    height: 100%;
}

.site-wrapper {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}

.site-footer-wrapper {
    display: table-row;
    height: 1px;
    width: 100%;
}



/*--------------------------------------------------------------
2.0 - Footer Wrapper
--------------------------------------------------------------*/

.site-footer-wrapper {}



/*--------------------------------------------------------------
3.0 - Site Footer
--------------------------------------------------------------*/

.site-footer {
	
	a {}
		
}



/*--------------------------------------------------------------
3.1 - Footer Columns
--------------------------------------------------------------*/				

/* see layout/_grids.scss */