/**
	
	Forms
	=====
	
	1.0 - Global
	2.0 - Forms
	3.0 - Labels
	4.0 - Input By Type
		4.1 - Placeholder
	5.0 - Buttons

**/



/*--------------------------------------------------------------
1.0 - Global
--------------------------------------------------------------*/

input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in IE6/IE7 */
}



/*--------------------------------------------------------------
2.0 - Forms
--------------------------------------------------------------*/

form {}

fieldset {}



/*--------------------------------------------------------------
3.0 - Labels
--------------------------------------------------------------*/

label {
	display: block;
	margin: 1em 0 0 0;
}



/*--------------------------------------------------------------
4.0 - Input By Type
--------------------------------------------------------------*/

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
	&:-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="date"],
input[type="datetime"],
input[type="color"],
input.input-datalist,
select,
textarea {
	min-width: 2em;
	// default content colors
	background: $color-input-background;
	color: $color-input-text;
	@if $color-input-border == transparent {
		border: 0 none;
	} @else {
		border: 1px solid $color-input-border;
	} 
	border-radius: $input-border-radius;
	padding: $input-padding;
	line-height: 1;
	&:focus {
		color: $color-input-focus; 
	}
	
	// header colors
	@if $color-form-widget-sidebar == true {
		.site-header & {
			background: $color-input-background-widget-header;
			color: $color-input-text-widget-header;
			@if $color-input-border-widget-header == transparent {
				border: 0 none;
			} @else {
				border: 1px solid $color-input-border-widget-header;
			}
			&:focus {
				color: $color-input-focus-widget-header; 
			}
		}
	}
	
	
	// sidebar colors
	@if $color-form-widget-sidebar == true {
		.site-sidebar .widget & {
			background: $color-input-background-widget-sidebar;
			color: $color-input-text-widget-sidebar;
			@if $color-input-border-widget-sidebar == transparent {
				border: 0 none;
			} @else {
				border: 1px solid $color-input-border-widget-sidebar;
			}
			&:focus {
				color: $color-input-focus-widget-sidebar; 
			}
		}
	}
	
	// footer colors
	@if $color-form-widget-footer == true {
		.site-footer .widget & {
			background: $color-input-background-widget-footer;
			color: $color-input-text-widget-footer;
			@if $color-input-border-widget-footer == transparent {
				border: 0 none;
			} @else {
				border: 1px solid $color-input-border-widget-footer;
			}
			&:focus {
				color: $color-input-focus-widget-footer; 
			}
		}
	}
	
}

select {
	height: 2.2em
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 90%;
}



/*--------------------------------------------------------------
4.1 - Placeholder
--------------------------------------------------------------*/

// default content colors
::-webkit-input-placeholder {
   color: $color-input-placeholder;
}
:-moz-placeholder { /* Firefox 18- */
   color: $color-input-placeholder;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $color-input-placeholder;  
}
:-ms-input-placeholder {  
   color: $color-input-placeholder;  
}

// header colors
@if $color-form-widget-sidebar == true {
	.site-header {
		::-webkit-input-placeholder {
		   color: $color-input-placeholder-widget-header
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: $color-input-placeholder-widget-header;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: $color-input-placeholder-widget-header;  
		}
		:-ms-input-placeholder {  
		   color: $color-input-placeholder-widget-header;  
		}
	}
}

// sidebar colors
@if $color-form-widget-sidebar == true {
	.site-sidebar .widget {
		::-webkit-input-placeholder {
		   color: $color-input-placeholder-widget-sidebar;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: $color-input-placeholder-widget-sidebar;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: $color-input-placeholder-widget-sidebar;  
		}
		:-ms-input-placeholder {  
		   color: $color-input-placeholder-widget-sidebar;  
		}
	}
}

// footer colors
@if $color-form-widget-footer == true {
	.site-footer .widget {
		::-webkit-input-placeholder {
		   color: $color-input-placeholder-widget-footer;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: $color-input-placeholder-widget-footer;  
		}
		::-moz-placeholder {  /* Firefox 19+ */
		   color: $color-input-placeholder-widget-footer;  
		}
		:-ms-input-placeholder {  
		   color: $color-input-placeholder-widget-footer;  
		}
	}
}


/*--------------------------------------------------------------
5.0 - Buttons
--------------------------------------------------------------*/

// See _buttons.scss for button styles