/**
	
	Icons
	=====

	1.0 - Icon Globals
	2.0 - Icon
	3.0 - Icon Only
	4.0 - Icon Menu Specific
	5.0 - Icon Mapping

	=========
	
	NOTE
	
	Do not use the 'icon-font' mixin for each icon type/variable.  
	This will lead to repetitive code output and thus bloat.
	
	Instead, use a 'default' variable set to '' and then use Sass
	Maps to loop through your font variables to specify the content
	of the individual class.
	
**/


/*--------------------------------------------------------------
1.0 - Icon Globals
--------------------------------------------------------------*/

// @include icon-font( [$icon], [font-family], [placement], [padding], [alignment], [color], [replace-text], [icon-size] );
$icon-font-family: 'starter-2015' !default;
$icon-placement: before !default;
$icon-default: '' !default;
$icon-padding: .5em !default;
$icon-alignment: inside !default;

// IE hack needs to use 'rem' instead of 'em' since they don't pick up font-size from the element and parent for pseudo elements - this is why IE STILL SUCKS!
$icon-only-size: 1.75rem !default;

// default colors
$color-body-text-icon: #000 !default;
$color-navigation-icon: #000 !default;



/*--------------------------------------------------------------
2.0 - Icon
--------------------------------------------------------------*/
	
// target icon items with classes starting with 'icon'

	*[class*='icon'] {
		// include a default icon and setup common class
		@include icon-font($icon-default,$icon-font-family,$icon-placement,$icon-padding,inside,$color-body-text-icon,false,false);
	}

// set individual icon variables in '5.0 - Icon Mapping'



/*--------------------------------------------------------------
3.0 - Icon Only
--------------------------------------------------------------*/

// target icon items with classes starting with 'icon-only'

	*[class*='icon-only'] {
		@include icon-font($icon-default,$icon-font-family,$icon-placement,$icon-padding,inside,$color-body-text-icon,true,$icon-only-size);
	}

// set individual icon variables in '5.0 - Icon Mapping'



/*--------------------------------------------------------------
4.1 - Menu Specific
--------------------------------------------------------------*/
	
// set any menu specific icon attributes



/*--------------------------------------------------------------
5.0 - Icon Mapping
--------------------------------------------------------------*/

// only change the 'content' variable per type
@each $icon-class, $icon-variable in 	(cancel-circled, $icon-cancel-circled),
										(cancel-circled2, $icon-cancel-circled2),
										(home, $icon-home),
										(link-ext, $icon-link-ext),
										(menu, $icon-menu),
										(search, $icon-search),
										(up-open, $icon-up-open),
										(down-open, $icon-down-open),
										(right-open, $icon-right-open),
										(left-open, $icon-left-open),
										(up-open-big, $icon-up-open-big),
										(down-open-big, $icon-down-open-big),
										(left-open-big, $icon-left-open-big),
										(right-open-big, $icon-right-open-big),
										(quote, $icon-quote),
										(mail, $icon-mail),
										(mail-alt, $icon-mail-alt),
										(mobile, $icon-mobile),
										(phone, $icon-phone),
										(calendar, $icon-calendar),
										(calendar-empty, $icon-calendar-empty),
										(clock, $icon-clock),
										(location, $icon-location),
										(doc-text, $icon-doc-text),
										(apple, $icon-apple),
										(default, $icon-default),
										(itunes, $icon-itunes),
										(doc-text, $icon-doc-text),
										(facebook, $icon-facebook),
										(facebook-squared, $icon-facebook-squared),
										(flickr, $icon-flickr),
										(flickr-squared, $icon-flickr-squared),
										(google-plus, $icon-google-plus),
										(google-plus-squared, $icon-google-plus-squared),
										(instagram, $icon-instagram),
										(linkedin, $icon-linkedin),
										(linkedin-squared, $icon-linkedin-squared),
										(pinterest-squared, $icon-pinterest-squared),
										(pinterest-circled-1, $icon-pinterest-circled-1),
										(rss-squared, $icon-rss-squared),
										(rss, $icon-rss),
										(twitter, $icon-twitter),
										(twitter-squared, $icon-twitter-squared),
										(vimeo-squared, $icon-vimeo-squared),
										(vine, $icon-vine),
										(youtube, $icon-youtube),
										(youtube-play, $icon-youtube-play),
										(youtube-squared, $icon-youtube-squared) {
	
	// set the individual icons content attribute
	*[class*='icon-#{$icon-class}']
	*[class*='icon-only-#{$icon-class}'] {
		&:#{$icon-placement} {
			content: $icon-variable;
		}
	}
}
