/**
	
	Media
	=====
	
	1.0 - Global
	2.0 - Images
		2.1 - Image
		2.2 - Figure
		2.3 - Figcaption
	3.0 - Video
	4.0 - Audio
	5.0 - Embeds
	6.0 - Iframes
	7.0 - Objects
	8.0 - Canvas

**/



/*--------------------------------------------------------------
1.0 - Global
--------------------------------------------------------------*/

// Make sure embeds and iframes fit their containers

embed,
iframe,
object {
	max-width: 100%;
}



/*--------------------------------------------------------------
2.0 - Images
--------------------------------------------------------------*/



/*--------------------------------------------------------------
2.1 - Image
--------------------------------------------------------------*/

img {
	max-width: 100%;
	height: auto;
}



/*--------------------------------------------------------------
2.2 - Figure
--------------------------------------------------------------*/

// sea also _content_types.scss

figure {
	max-width: 100%;
	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-top: 0;
	}
}



/*--------------------------------------------------------------
2.3 - Figcaption
--------------------------------------------------------------*/

figcaption {
	background-color: $color-figcaption-background;
	color: $color-figcaption-text;
}



/*--------------------------------------------------------------
3.0 - Video
--------------------------------------------------------------*/

video {}



/*--------------------------------------------------------------
4.0 - Audio
--------------------------------------------------------------*/

audio {}



/*--------------------------------------------------------------
5.0 - Embeds
--------------------------------------------------------------*/

embed {}



/*--------------------------------------------------------------
6.0 - Iframes
--------------------------------------------------------------*/

iframe {}



/*--------------------------------------------------------------
7.0 - Objects
--------------------------------------------------------------*/

object {}



/*--------------------------------------------------------------
8.0 - Canvax
--------------------------------------------------------------*/

canvas {}