/**
	
	Styleguide
	==========
	
	1.0 - Placeholder Selectors
	2.0 - Headings
	3.0 - Content
		3.1 - Text
		3.2 - Links
		3.3 - Blockquotes / Cites
		3.4 - Time
		3.5 - Address
		3.6 - Figure
			3.6.1 - Captions
		3.7 - Sub/Superscripts
		3.8 - Code
	4.0 - Alignments

**/



/*--------------------------------------------------------------
1.0 - Placeholder Selectors
--------------------------------------------------------------*/

/**
	
	These are used to set the styles for other elements using 
	@extend but they will not export in the compiled CSS

**/

%heading-styles {
	color: $color-content-heading;
	line-height: 1.25;
}

%content-style {
	color: $color-content-text;
	@include font-size(16);
}

body {
	@extend %content-style;
	background-color: $color-body-background;
	color: $color-body-text;
}



/*--------------------------------------------------------------
2.0 - Headings
--------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	@extend %heading-styles;
}

// indclude headings at different rem
@include heading-decrement(2.5,.25,rem);

.site-sidebar {
	// start the sidebar headings at a different rem
	@include heading-decrement(1.5,.25,rem);
}

.site-footer {
	// start the footer headings at a different rem
	@include heading-decrement(1.5,.25,rem);
}



/*--------------------------------------------------------------
3.0 - Content
--------------------------------------------------------------*/

.site-main {
	line-height: 1.375em;
}

dfn, cite, em, i {
	font-style: italic;
}



/*--------------------------------------------------------------
3.1 - Text
--------------------------------------------------------------*/

p {
	margin-bottom: 1.5em;
}

b, strong {
	font-weight: bold;
}

/* you should never really use the <hr> tag */
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}



/*--------------------------------------------------------------
3.2 - Links
--------------------------------------------------------------*/

a {
	color: $color-content-link;
	
	&:hover { color: $color-content-link-hover; }
	
}



/*--------------------------------------------------------------
3.3 - Blockquotes / Cites
--------------------------------------------------------------*/

blockquote {
	
	p:last-of-type {
		margin: 0;
	}
	
	margin: 1em 0;
	padding: 1.5em;
	background: $color-blockquote-background;
	color: $color-blockquote-text;
}

cite {}



/*--------------------------------------------------------------
3.4 - Time
--------------------------------------------------------------*/

time {}



/*--------------------------------------------------------------
3.5 - Address
--------------------------------------------------------------*/

address {}




/*--------------------------------------------------------------
3.6 - Figure
--------------------------------------------------------------*/

figure {}
figcaption {}



/*--------------------------------------------------------------
3.6.1 - Captions
--------------------------------------------------------------*/

caption {}



/*--------------------------------------------------------------
3.7 - Sub/Superscripts
--------------------------------------------------------------*/

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}



/*--------------------------------------------------------------
3.8 - Code
--------------------------------------------------------------*/

pre {
	background: $color-background-pre;
	color: $color-text-pre;
	font-family: "Courier 10 Pitch", Courier, monospace;
	@include font-size(15);
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
	
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word; 
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}



/*--------------------------------------------------------------
4.0 - Alignments
--------------------------------------------------------------*/

.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
	text-align: left;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
	text-align: right;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
	text-align: center;
}
