/**

	Print Styleguide
	================

	1.0 - Defaults
		1.1 - Headings
		1.2 - Content
		1.3 - Links
		1.4 - Media
	2.0 - Hide Elements
	3.0 - Theme Specific

**/



/*--------------------------------------------------------------
1.0 - Defaults
--------------------------------------------------------------*/

@page {
	margin: 0.5cm;
}

body {
	background: #fff;
}

div,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
	background: transparent !important;
	color: $color-content-text-print !important;
}



/*--------------------------------------------------------------
1.1 - Headings
--------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	color: $color-content-heading-print !important;
	background: transparent !important;
	border-color: $color-content-heading-print !important;
}

h1 {
	border-bottom: 1px solid $color-content-heading-print;
	padding-bottom: .5em;
	margin-bottom: 1em;
}

h1 { font-size: 18px; }
h2 { font-size: 20px; }
h3 { font-size: 22px; }
h4 { font-size: 24px; }
h5 { font-size: 26px; }
h6 { font-size: 28px; }

.brand-title {
	border: 0 none;

	.site-header & {}

	a {}

}

.site-title a {
	clear: both;
	color: $color-content-heading-print !important;
}



/*--------------------------------------------------------------
1.2 - Content
--------------------------------------------------------------*/
.site-content {
	clear: both;
	margin-top: 1em;
	padding-top: 1em;
	border-top: 1px solid $color-content-heading-print;
}

p {
	color: $color-content-text-print;
	@include font-size(12);
}

q,
blockquote {
	background: $color-blockquote-background-print;

	&:before,
	&:after {
		content: '';
	}

	&[cite] {
		&:after {
			content: ' [Source: ' attr(cite) ']';
			font-size: 75%;
		}
	}
}



/*--------------------------------------------------------------
1.3 - Links
--------------------------------------------------------------*/

a {
	color: $color-content-link-print !important;
	text-decoration: underline;
	/* only include the link on external sites that do not have
	 * 'usc.edu' in the link
	 *
	 * exclude any non-usc site: &:not([href*='usc.edu']):after
	 * exclude any site starting with: &:not([href^='siteurl']):after
	 */

	&:not([href*='#{$no-print-url}']):after {
		content: ' [' attr(href) '] ';
		color: lighten($color-content-link-print, 15);
		@include font-size(12);
		text-decoration: none;
	}
}

p a {
	word-wrap: break-word;
}



/*--------------------------------------------------------------
1.4 - Media
--------------------------------------------------------------*/

img {
	max-width: 500px;
}



/*--------------------------------------------------------------
2.0 - Hide Elements
--------------------------------------------------------------*/

header nav,
footer,
audio,
video,
embed,
object,
.site-breadcrumbs,
.widget_search {
	display: none;
}



/*--------------------------------------------------------------
3.0 - Theme Specific
--------------------------------------------------------------*/
