/**

	Inputs\
	=====

	1.0 - Default Inputs
	2.0 - Input By Type
	3.0 - Placeholders

**/



/*--------------------------------------------------------------
1.0 - Default Inputs
--------------------------------------------------------------*/

input,
select,
textarea {
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
}



/*--------------------------------------------------------------
2.0 - Input By Type
--------------------------------------------------------------*/

// See _buttons.scss for Button styles.

[type="checkbox"],
[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}

[type="search"] {
	@include box-sizing('content-box');
	// Addresses appearance set to searchfield in S5, Chrome
	-webkit-appearance: textfield;
	// Corrects inner padding displayed oddly in S5, Chrome on OSX
	&::-webkit-search-decoration {
		-webkit-appearance: none;
	}
}

button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}

[type="text"],
[type="email"],
[type="url"],
[type="password"],
[type="search"],
[type="number"],
[type="tel"],
[type="range"],
[type="date"],
[type="month"],
[type="week"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="color"],
select,
textarea {

	// default content colors
	border-radius: $size__border-radius-input;
	@if $color__border-input == transparent {
		border: 0;
	}
	@else {
		border: {
			width: $size__border-input;
			style: solid;
			color: $color__border-input;
		}
	}
	background: $color__background-input;
	padding: $size__padding-input;
	min-width: 2em;
	line-height: 1;
	color: $color__text-input;

	&:focus {
		color: $color__text-input-focus;
	}

}

select {
	height: 2.2em;
}

textarea {
	padding-left: $size__padding-input;
	width: 100%;
}



/*--------------------------------------------------------------
3.0 - Placeholders
--------------------------------------------------------------*/

// default content colors
input::-webkit-input-placeholder {
	color: $color__text-input-placeholder;
}

input::-moz-placeholder { /* Firefox 19+ */
	color: $color__text-input-placeholder;
}

input:-ms-input-placeholder {
	color: $color__text-input-placeholder;
}
