/**

	Colors
	======

	1.0 - Imports
	2.0 - Globals
	3.0 - Headers
	4.0 - Navigaton
		4.1 - Main Navigation
		4.2 - Secondary Navigation
	5.0 - Content
		5.1 - Text
			5.1.1 - Code / Pre
			5.1.2 - iframes
		5.2 - Links
		5.3 - Blockquotes / Cites
		5.4 - Forms
			5.4.1 - Inputs
			5.4.2 - Buttons
		5.5 - Figure
			5.5.1 - Image
			5.5.2 - Figcaption
		5.6 - Tables
		5.7 - Content Types
	6.0 - Sidebar
	7.0 - Footer
		7.1 - Site Credit
	8.0 - Widgets
	9.0 - Print

	=========

	Note: any gradients will need to be applied to the class
	element in the individual partial file.  This file is intended
	to set default colors to the site in one central file.

**/


/*--------------------------------------------------------------
1.0 - Imports
--------------------------------------------------------------*/



/*--------------------------------------------------------------
2.0 - Globals
--------------------------------------------------------------*/
$color__background-body: #fff;
$color__background-screen: #f1f1f1;

$color__shadow: rgba(#000, .125);
$color__background-screen: #fff;
$color__text-screen: #5b514a;
$color__icon-screen: #777;



/*--------------------------------------------------------------
3.0 - Headers
--------------------------------------------------------------*/

$color__header-background: #ebede6;
$color__header-site-title: $color__text-screen;
$color__header-site-title-sub: $color__header-site-title;

// content
$color__content-heading: #5b514a;



/*--------------------------------------------------------------
4.0 - Navigaton
--------------------------------------------------------------*/



/*--------------------------------------------------------------
4.1 - Main Navigaton
--------------------------------------------------------------*/



/*--------------------------------------------------------------
4.2 - Secondary Navigaton
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.0 - Content
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.1 - Text
--------------------------------------------------------------*/

$color__content-text: $color__text-screen;
$color__content-text-meta: lighten($color__content-text, 15);



/*--------------------------------------------------------------
5.1.1 - Code / Pre
--------------------------------------------------------------*/

$color__background-pre: #eee;
$color__text-pre: $color__content-text;



/*--------------------------------------------------------------
5.1.2 - iframes
--------------------------------------------------------------*/



/*--------------------------------------------------------------
5.2 - Links
--------------------------------------------------------------*/

$color__content-link: #777;
$color__content-link-hover: $color__content-link;




/*--------------------------------------------------------------
5.3 - Blockquotes / Cites
--------------------------------------------------------------*/

$color__blockquote-background: #555;
$color__blockquote-text: $color__text-screen;
$color__blockquote-icon: darken($color__blockquote-background, 7);



/*--------------------------------------------------------------
5.4 - Forms
--------------------------------------------------------------*/

// Set to 'true' to use different input colors in the widgets
$color__form-widget-header: false;
$color__form-widget-sidebar: true;
$color__form-widget-footer: false;



/*--------------------------------------------------------------
5.4.1 - Inputs
--------------------------------------------------------------*/

// see _variables.scss for padding and border radius
$color__input-background: #ccc;
$color__input-border: #000;
$color__input-focus: #111;
$color__input-text: darken($color__content-text, 25);
$color__input-icon: #777;
$color__input-placeholder: lighten($color__content-text, 5);



/*--------------------------------------------------------------
5.4.2 - Buttons
--------------------------------------------------------------*/

// default content colors
$color__button-background: #777;
$color__button-text: #fff;
$color__button-border: transparent;

$color__button-background-hover: darken($color__button-background, 5);
$color__button-text-hover: #fff;
$color__button-border-hover: transparent;

$color__button-background-active: lighten($color__button-background, 5);
$color__button-text-active: #fff;
$color__button-border-active: transparent;



/*--------------------------------------------------------------
5.5 - Figure
--------------------------------------------------------------*/

$color__border-figure-single: #dcded7;



/*--------------------------------------------------------------
5.5.1 - Image
--------------------------------------------------------------*/

// see _media.scss for images



/*--------------------------------------------------------------
5.5.2 - Figcaption
--------------------------------------------------------------*/

$color__figcaption-background: transparent;
$color__figcaption-text: lighten($color__content-text, 40);



/*--------------------------------------------------------------
5.6 - Tables
--------------------------------------------------------------*/

$color__table-head-background: #dcded7;
$color__table-head-text: #5b514a;
$color__table-cell-background: #ebede6;
$color__table-cell-text: #5b514a;
$table-cell-border: 1px solid #dcded7;



/*--------------------------------------------------------------
5.7 - Content Types
--------------------------------------------------------------*/



/*--------------------------------------------------------------
6.0 - Sidebar
--------------------------------------------------------------*/



/*--------------------------------------------------------------
7.0 - Footer
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.0 - Widgets
--------------------------------------------------------------*/

// see 4.2 for secondary navigation

$color__widget-background: #777;
$color__widget-divider: #820909;
$color__widget-content-heading: #fff;
$color__widget-content-text: #fff;
$color__widget-content-link: #fff;
$color__widget-content-link-hover: #fff;
$color__widget-content-icon: #fff;



/*--------------------------------------------------------------
9.0 - Print
--------------------------------------------------------------*/

$color__content-heading-print: #000 !default;
$color__content-text-print: #000 !default;
$color__content-link-print: #999 !default;

$color__blockquote-background-print: #ccc;
