/**

	Sizes
	=========

	1.0 - Box Elements
		1.1 - Margins
		1.2 - Borders
		1.3 - Padding

**/




/*--------------------------------------------------------------
1.0 - Box Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.1 - Margins
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.2 - Borders
--------------------------------------------------------------*/
$size__input-border-radius: .1875em;



/*--------------------------------------------------------------
1.3 - Padding
--------------------------------------------------------------*/
$size__body-padding-mobile: 5%;
$size__body-padding-desktop: 1%;
$size__input-padding: .5em;
