/**

	Center Block
	============

	Center element in context.


	Usage
	=========
	.class { @include center-block; }

**/

@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
