/**

	Font Size
	=========

	Apply rem equivalent to pixel font size

	Usage:
	.class { @include font-size(16); }

**/

// Default Variables
$ie8: false !default;
$base-font: 16 !default;

// Mixin
@mixin font-size($size-value: $base-font) {
	@if $ie8 == true {
		font-size: $size-value + px;
	}
	font-size: ($size-value / $base-font) + rem;
}
