/**

	Font Size
	=========

	Apply rem equivalent to pixel font size

	=========

	Usage:

	.class { @include font-size(16); }

**/


// Mixin
@mixin font-size($size-value: $base-font) {
	@if $ie8 == true {
		font-size: $size-value + px;
	}
	font-size: ($size-value / $base-font) + rem;
}
