/**
	
	SVG Background Image
	====================
	
	Alternate SVG with PNG fallback
	
	=========
	
	Usage:
	
	.class { @include svg-background-image( usc-logo, 100%, 100%, true ); }

**/

// Default Variables
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

// Mixin
@mixin svg-background-image($name, $size:false, $position:false, $retina:false){
	background-image: image-url('#{$name}.svg');
	background-repeat: no-repeat;
	@if($size){
		background-size: $size;
	}
	@if($position){
		background-position: $position;
	}
	@if $retina == true {
		@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
			background-image: image-url('#{$name}#{$retina-suffix}.#{$fallback-extension}');
		}
	}
}