/**
	
	Vertical Alignment
	==================
	
	Use this mixin to vertically center an elment in it's container box
	
	=========
	
	Usage:
	
	.class { @include vertical-align; }
	
	=========
	
	Note: If blurry, add the following to the parent element:

	.parent-element {
		-webkit-transform-style: preserve-3d;
	}
	
	=========
	
	Credit: [http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/]

**/

@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}