/**

	Colors
	======

	1.0 - Imports
	2.0 - Globals
	3.0 - Layout
	4.0 - Typography
		4.1 - Headings
		4.2 - Copy
	5.0 - Elements
		5.1 - Lists
		5.2 - Tables
	6.0 - Form Elements
		6.1 - Forms
		6.2 - Inputs
		6.3 - Buttons
	7.0 - Navigation
		7.1 - Links
		7.2 - Menus
		7.3 - Site Navigation
		7.4 - Search
	8.0 - Content Types
		8.1 - Primary
		8.2 - Secondary
	9.0 - Modules
		9.1 - Accesibility
		9.2 - Alignments
	11.0 - Media
		11.1 - Images
		11.2 - Figures
		11.3 - Captions
		11.4 - Galleries
	12.0 - Print

**/


/*--------------------------------------------------------------
1.0 - Imports
--------------------------------------------------------------*/


/*--------------------------------------------------------------
2.0 - Globals
--------------------------------------------------------------*/

$body__background-color: #fff;


/*--------------------------------------------------------------
3.0 - Layout
--------------------------------------------------------------*/
/* offset-x | offset-y | blur-radius | spread-radius */
$box-shadow__offset: 0;
$box-shadow__color: rgba(#000, .125);
$box-shadow: $box-shadow__offset $box-shadow__color;

$box-shadow--screen-reader: rgba(0, 0, 0, .6);


/*--------------------------------------------------------------
4.0 - Typography
--------------------------------------------------------------*/

$body__font-color--primary: #5b514a;


/*--------------------------------------------------------------
4.1 - Headings
--------------------------------------------------------------*/

$heading__font-color--primary: #000;


/*--------------------------------------------------------------
4.2 - Copy
--------------------------------------------------------------*/

$meta__font-color: lighten($body__font-color--primary, 15);

$abbr__border-color: #666;

$pre__background-color: #eee;
$pre__font-color: #5b514a;

$hr__background-color: #ccc;

$blockquote__background-color: #555;
$blockquote__font-color: $body__font-color--primary;

$ins__background-color: #fff9c0;


/*--------------------------------------------------------------
5.0 - Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.1 - Lists
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.2 - Tables
--------------------------------------------------------------*/

$thead__background-color: #dcded7;
$thead__font-color: #5b514a;


/*--------------------------------------------------------------
6.0 - Form Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
6.1 - Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
6.2 - Inputs
--------------------------------------------------------------*/

// see _variables.scss for padding and border radius
$input__background-color: #ccc;
$input__border-color: transparent;
$input__font-color: darken($body__font-color--primary, 25);
$input__font-color--focus: #111;
$input__font-color--placeholder: lighten($body__font-color--primary, 5);


/*--------------------------------------------------------------
6.3 - Buttons
--------------------------------------------------------------*/

// default content colors
$button__background-color: #777;
$button__font-color: #fff;
$button__border-color: transparent;

// hover state
$button__background-color-hover: darken($button__background-color, 5);
$button__font-color-hover: #fff;
$button__border-color-hover: transparent;

// active state
$button__background-color-active: lighten($button__background-color, 5);
$button__font-color-active: #fff;
$button__border-color-active: transparent;


/*--------------------------------------------------------------
7.0 - Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.1 - Links
--------------------------------------------------------------*/

$link__font-color--primary: #777;
$link__font-color--primary--hover: lighten($link__font-color--primary, 15);
$link__font-color--primary--visited: darken($link__font-color--primary, 15);


/*--------------------------------------------------------------
7.2 - Menus
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.3 - Site Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.4 - Search
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.0 - Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.1 - Primary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.2 - Secondary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
9.0 - Modules
--------------------------------------------------------------*/


/*--------------------------------------------------------------
9.1 - Accesibility
--------------------------------------------------------------*/

$body__font-color--screen-reader-text--focus: $body__font-color--primary;
$body__background-color--screen-reader-text--focus: #f1f1f1;

/*--------------------------------------------------------------
9.2 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.0 - Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.1 - Primary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.2 - Secondary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.0 - Media
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.1 - Images
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.2 - Figures
--------------------------------------------------------------*/

$figcaption__background-color: transparent;
$figcaption__font-color: lighten($body__font-color--primary, 40);


/*--------------------------------------------------------------
11.3 - Captions
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.4 - Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
12.0 - Print
--------------------------------------------------------------*/

$heading__font-color--print: #000 !default;
$body__font-color--print: #000 !default;
$link__font-color--print: #999 !default;

$blockquote__background-color--print: #ccc;
