/**

	Sizes
	=========

	1.0 - Box Elements
		1.1 - Margins
		1.2 - Borders
		1.3 - Padding
	2.0 - Icons

**/




/*--------------------------------------------------------------
1.0 - Box Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.1 - Margins
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.2 - Borders
--------------------------------------------------------------*/
$size__border-radius-input: .1875em;
$size__border-button: 1px;
$size__border-input: 1px;


/*--------------------------------------------------------------
1.3 - Padding
--------------------------------------------------------------*/
$size__body-padding-mobile: 5%;
$size__body-padding-desktop: 1%;
$size__padding-input: .5em;


/*--------------------------------------------------------------
2.0 - Icons
--------------------------------------------------------------*/
$size__icon-only: 2rem; // matches px width/font-base in px from gulp settings
$size__padding-icon-only: .5em; // matches px width/font-base in px from gulp settings
