/**

	Sizes
	=========

	1.0 - Box Elements
		1.1 - Margins
		1.2 - Borders
		1.3 - Padding
	2.0 - Icons

**/




/*--------------------------------------------------------------
1.0 - Box Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.1 - Margins
--------------------------------------------------------------*/


/*--------------------------------------------------------------
1.2 - Borders
--------------------------------------------------------------*/
$button__border--radius: .1875em;
$button__border--width: 1px;
$input__border--width: 1px;


/*--------------------------------------------------------------
1.3 - Padding
--------------------------------------------------------------*/
$body__padding--mobile: 5%;
$body__padding--desktop: 1%;
$input__padding: .5em;


/*--------------------------------------------------------------
2.0 - Icons
--------------------------------------------------------------*/
// Default size of the icon when displayed with text in class wrapper.
$icon__size: 1rem;

// Default size of the icon when hiding text.
$icon__size-only: 2rem;

// Padding between the icon and it's text.
$icon__size--padding: .25em;
