/**

	Sizes
	======

	1.0 - Imports
	2.0 - Globals
	3.0 - Layout
	4.0 - Typography
		4.1 - Headings
		4.2 - Copy
	5.0 - Elements
		5.1 - Lists
		5.2 - Tables
	6.0 - Form Elements
		6.1 - Forms
		6.2 - Inputs
		6.3 - Buttons
	7.0 - Navigation
		7.1 - Links
		7.2 - Menus
		7.3 - Site Navigation
		7.4 - Search
	8.0 - Content Types
		8.1 - Primary
		8.2 - Secondary
	9.0 - Modules
		9.1 - Accesibility
		9.2 - Alignments
	11.0 - Media
		11.1 - Images
		11.2 - Figures
		11.3 - Captions
		11.4 - Galleries
		11.5 - Icons
	12.0 - Print

**/


/*--------------------------------------------------------------
1.0 - Imports
--------------------------------------------------------------*/


/*--------------------------------------------------------------
2.0 - Globals
--------------------------------------------------------------*/


/*--------------------------------------------------------------
3.0 - Layout
--------------------------------------------------------------*/

$body__padding--mobile: 5%;
$body__padding--desktop: 1%;


/*--------------------------------------------------------------
4.0 - Typography
--------------------------------------------------------------*/


/*--------------------------------------------------------------
4.1 - Headings
--------------------------------------------------------------*/


/*--------------------------------------------------------------
4.2 - Copy
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.0 - Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.1 - Lists
--------------------------------------------------------------*/


/*--------------------------------------------------------------
5.2 - Tables
--------------------------------------------------------------*/


/*--------------------------------------------------------------
6.0 - Form Elements
--------------------------------------------------------------*/


/*--------------------------------------------------------------
6.1 - Forms
--------------------------------------------------------------*/


/*--------------------------------------------------------------
6.2 - Inputs
--------------------------------------------------------------*/

$input__padding: .5em;
$input__border-width: 1px;


/*--------------------------------------------------------------
6.3 - Buttons
--------------------------------------------------------------*/

$button__border-radius: .1875em;
$button__border-width: 1px;


/*--------------------------------------------------------------
7.0 - Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.1 - Links
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.2 - Menus
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.3 - Site Navigation
--------------------------------------------------------------*/


/*--------------------------------------------------------------
7.4 - Search
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.0 - Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.1 - Primary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
8.2 - Secondary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
9.0 - Modules
--------------------------------------------------------------*/


/*--------------------------------------------------------------
9.1 - Accesibility
--------------------------------------------------------------*/


/*--------------------------------------------------------------
9.2 - Alignments
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.0 - Content
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.1 - Primary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
10.2 - Secondary
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.0 - Media
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.1 - Images
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.2 - Figures
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.3 - Captions
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.4 - Galleries
--------------------------------------------------------------*/


/*--------------------------------------------------------------
11.5 - Icons
--------------------------------------------------------------*/

// Default size of the icon when displayed with text in class wrapper.
$icon__size: 1rem;

// Default size of the icon when hiding text.
$icon__size-only: 1rem;

// Padding between the icon and it's text.
$icon__margin--right: .25em;


/*--------------------------------------------------------------
12.0 - Print
--------------------------------------------------------------*/
