/**

	Fonts
	=====

	1.0 - Font Face
	2.0 - Typekit Fonts

**/



/*--------------------------------------------------------------
1.0 - Font Face
--------------------------------------------------------------*/

/**

	Using Compass for Font Face

	$name is required, arbitrary, and what you will use in font stacks.
	$font-files is required using font-files('relative/location', 'format'). for best results use this order: woff, opentype/truetype, svg
	$eot is required by IE, and is a relative location of the eot file.
	$weight shows if the font is bold, defaults to normal
	$style defaults to normal, might be also italic
	For android 2.2 Compatiblity, please ensure that your web page has a meta viewport tag.
	To support iOS < 4.2, an SVG file must be provided

	@include font-face($name, $font-files, $eot, $weight, $style);

	@include font-face( $font-family, font-files($font-filename + '.woff', $font-filename + '.ttf', $font-filename + '.svg'), $font-filename + '.eot', normal, normal);

**/



/*--------------------------------------------------------------
2.0 - Typekit Fonts
--------------------------------------------------------------*/

/**

	Including the Typekit Font will include the fonts to the site.

	You can make variables to call with the 'font-style' plugin.


	Variable Examples:

	light:			$font-proxima-nova-light: 'proxima-nova-n3', 'proxima-nova';
	regular:		$font-proxima-nova-regular: 'proxima-nova-n4', 'proxima-nova';
	bold:			$font-proxima-nova-bold: 'proxima-nova-n7', 'proxima-nova';
	extrabold:		$font-proxima-nova-extrabold: 'proxima-nova-n7', 'proxima-nova';


	Usage: Proxima Nova

	light:			@include font-style($font-proxima-nova-light, normal, 300);
	regular:		@include font-style($font-proxima-nova-regular, normal, 400);
	bold:			@include font-style($font-proxima-nova-bold, normal, 700);
	extrabold:		@include font-style($font-proxima-nova-extrabold, normal, 800);

**/
