/**

	Sprite Map
	==========

	1.0 - Maps


**/



/*--------------------------------------------------------------
1.0 - Maps
--------------------------------------------------------------*/

$sprite-icons: (
	sprite: (width: 42px, height: 42px, pngPath: image-url('starter_sprite.png?ver=#{$project-version}', false, false), svgPath: image-url('starter_sprite.svg?ver=#{$project-version}', false, false)),
	wordpress-logo: (width: 32px, height: 32px, backgroundX: 0px, backgroundY: 0px, padT: 5px, padR: 5px, padB: 5px, padL: 5px),
);
