/**

	Tables
	======

	1.0 - Table
	2.0 - Headings
		2.1 - Caption
	3.0 - Content
	4.0 - Footer

**/



/*--------------------------------------------------------------
1.0 - Table
--------------------------------------------------------------*/

table {
	margin: 0 0 1.5em;
	width: 100%;
}

th,
td {
	padding: 2%;
}



/*--------------------------------------------------------------
2.0 - Headings
--------------------------------------------------------------*/

thead {}

th {
	background-color: $color__background-table-head;
	color: $color__text-table-head;
	font-weight: bold;
}



/*--------------------------------------------------------------
2.1 - Caption
--------------------------------------------------------------*/

caption {}



/*--------------------------------------------------------------
3.0 - Content
--------------------------------------------------------------*/

tbody {}

tr {}

td {}



/*--------------------------------------------------------------
4.0 - Footer
--------------------------------------------------------------*/

tfoot {}
