/**

	Links
	=====

	1.0 - Links
	2.0 - Skip Link
	3.0 - Edit Link

**/



/*--------------------------------------------------------------
1.0 - Links
--------------------------------------------------------------*/

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}

	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}

	&:focus {
		outline: thin dotted;
	}

	&:hover,
	&:active {
		outline: 0;
	}
}


/*--------------------------------------------------------------
2.0 - Skip Link
--------------------------------------------------------------*/

.skip-link {}


/*--------------------------------------------------------------
3.0 - Edit Link
--------------------------------------------------------------*/

.edit-link {}
