/**

	Menus
	=====

	1.0 - Content Navigation
	2.0 - Page Links

**/



/*--------------------------------------------------------------
1.0 - Content Navigation
--------------------------------------------------------------*/

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		width: 50%;
		text-align: right;
	}
}


/*--------------------------------------------------------------
2.0 - Page Links
--------------------------------------------------------------*/

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
