/**

	Lists
	=====

	1.0 - Global
	2.0 - Unordered Lists
	3.0 - Ordered Lists
	4.0 - Data Lists

	NOTE: See navigation/ for menus and site navigation.

**/



/*--------------------------------------------------------------
1.0 - Global
--------------------------------------------------------------*/

ul,
ol {
	margin: 0 0 1.5em 3em;
}

li {}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}



/*--------------------------------------------------------------
2.0 - Unordered Lists
--------------------------------------------------------------*/

ul {
	list-style: disc;
}



/*--------------------------------------------------------------
3.0 - Ordered Lists
--------------------------------------------------------------*/

ol {
	list-style: decimal;
}



/*--------------------------------------------------------------
4.0 - Data Lists
--------------------------------------------------------------*/

dl {}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}
