/**

	Figures
	=====

	1.0 - Figure
	2.0 - Figcaption

**/



/*--------------------------------------------------------------
1.0 - Figure
--------------------------------------------------------------*/

figure {
	max-width: 100%;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		margin-top: 0;
	}
}


/*--------------------------------------------------------------
2.0 - Figcaption
--------------------------------------------------------------*/

// Also see _captions.scss.
figcaption {
	background-color: $figcaption__background-color;
	color: $figcaption__font-color;
}
