/**

	Site Footer
	===========

	1.0 - Sticky Footer
	2.0 - Footer Wrapper
	3.0 - Site Footer
		3.1 - Footer Columns

**/


/*--------------------------------------------------------------
1.0 - Sticky Footer
--------------------------------------------------------------*/

html,
body {
	height: 100%;
}

.site {
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}

.site-footer-wrapper {
	display: table-row;
	width: 100%;
	height: 1px;
}



/*--------------------------------------------------------------
2.0 - Footer Wrapper
--------------------------------------------------------------*/

.site-footer-wrapper {}



/*--------------------------------------------------------------
3.0 - Site Footer
--------------------------------------------------------------*/

.site-footer {

	a {}

}



/*--------------------------------------------------------------
3.1 - Footer Columns
--------------------------------------------------------------*/

/* see layout/_grids.scss */
