/**

	Grid
	====

	1.0 - Grid Settings
	1.1 - Grid Wrappers
	1.2 - Site Header
	1.3 - Site Content
	1.4 - Site Sidebar
	1.5 - Site Footer
		1.5.1 - Site Footer Columns
	1.6 - Modules

	=========

	Note: you should use this file for setting the layout of the
	page/theme for the placeholder elements for modules only.
	Individual module elements should have their responsive structures
	attached to themselves.

**/



/*--------------------------------------------------------------
1.0 - Grid Settings
--------------------------------------------------------------*/

/**

	Use Susy (http://susy.oddbird.net/) for grid structures.

	Import for Susy resides in sass/_vendor.scss file

**/

$susy: (
	columns: 12,
	gutters: 1 / 4,
	math: fluid,
	output: float,
	gutter-position: after,
	use-custom: (
		box-sizing: false,
	),
);



/*--------------------------------------------------------------
1.1 - Grid Wrappers
--------------------------------------------------------------*/

.site-branding,
.site-navigation,
.nav-breadcrumbs,
.site-content,
.site-footer,
.site-contact {
	@include container;
	padding: 0 $body__padding--mobile;

	@media #{$medium-up} {
		padding: 0 $body__padding--desktop;
	}
}



/*--------------------------------------------------------------
1.2 - Site Header
--------------------------------------------------------------*/

.site-header {

	.site-branding {}

	.site-title {}

	.site-description {}

	.site-navigation {}

	.site-nav {}

	.menu-toggle {}

	.skip-link {}

}

.site-search {}



/*--------------------------------------------------------------
1.3 - Site Content
--------------------------------------------------------------*/

.site-content {}

.content-area {}



/*--------------------------------------------------------------
1.4 - Site Sidebar
--------------------------------------------------------------*/

.site-sidebar {}



/*--------------------------------------------------------------
1.5 - Site Footer
--------------------------------------------------------------*/

.site-footer-wrapper {}

.site-footer {}



/*--------------------------------------------------------------
1.5.1 - Site Footer Columns
--------------------------------------------------------------*/

.site-footer-columns-1 {

	.footer-column {
		@include span(12 of 12);
	}
}

.site-footer-columns-2 {

	.footer-column {
		@include span(12 of 12);

		@media #{$xxsmall-up} {
			@include span(6 of 12);

			&:last-of-type {
				@include omega;
			}
		}
	}
}

.site-footer-columns-3 {

	.footer-column {
		@include span(12 of 12);

		@media #{$small-up} {
			@include span(4 of 12);

			&:last-of-type {
				@include omega;
			}
		}
	}
}

.site-footer-columns-4 {

	.footer-column {
		@include span(12 of 12);

		@media #{$xxsmall-up} {
			@include span(6 of 12);

			&:last-of-type {
				@include omega;
			}
		}

		@media #{$small-up} {
			@include span(3 of 12);

			&:last-of-type {
				@include omega;
			}
		}
	}
}



/*--------------------------------------------------------------
1.6 - Modules
--------------------------------------------------------------*/
