/**

	Menus
	=====

	1.0 - Menus
	2.0 - Menu Locations
		2.1 - Sidebar
		2.1 - Footer

**/



/*--------------------------------------------------------------
1.0 - Menus
--------------------------------------------------------------*/

.menu {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}

.sub-menu {}


/*--------------------------------------------------------------
2.0 - Menu Locations
--------------------------------------------------------------*/


/*--------------------------------------------------------------
2.1 - Sidebar
--------------------------------------------------------------*/
.site-sidebar {
	.menu {}
}


/*--------------------------------------------------------------
2.1 - Footer
--------------------------------------------------------------*/
.site-footer {
	.menu {}
}
