/**

	Site Navigation
	===============

	1.0 - Site Navigation Wrapper
	2.0 - Site Navigation Title
	4.0 - Site Navigation Menu

**/



/*--------------------------------------------------------------
1.0 - Site Navigation Wrapper
--------------------------------------------------------------*/

.site-navigation {}


/*--------------------------------------------------------------
2.0 - Site Navigation Title
--------------------------------------------------------------*/

.site-navigation-title {}


/*--------------------------------------------------------------
4.0 - Site Navigation Menu
--------------------------------------------------------------*/

.site-navigation-menu {
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}
